<!DOCTYPE html>
<html>
    <head>
        <title>Editar Profesor</title>
    </head>
<body>
    <h1>Editar Profesor</h1>
    <form action="/actualiPro/<%= profesores.id_profesor %>" method="POST">
        <label>Apellido y Nombre:</label>
        <input type="text" name="nombre" value="<%=profesores.nombre %>"><br><br>
        <label>Email:</label>
        <input type="text" name="email" value="<%= profesores.email %>"><br><br>
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>