!DOCTYPE html>
<html lang="es">

<body>
    <header>
        <%- include('../views/partials/header'); %>
    </header>
   
    <main>
      <h1 class="text-info text-center mt-2">ACTUALIZAR Y/O MODIFICAR CURSOS/h1>

      <div class="container ">
        <div class="row mt-3 ml-5 mr-5 ">
            <div class="col-md-9 text-center">
                   <form class="form "  action="/editCursos/<%= cursos.id_curso %>" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" value="<%= cursos.nombre %>" class="form-control border-primary fs-5">
                        </div>
                      
                        <div class="form-group">
                            <input type="text" name="nivel" value="<%= cursos.nivel %>" class="form-control border-primary fs-5">
                        </div>
                       
                        <button type="submit" class="btn btn-block btn-info fs-5 ">
                            ACTUALIZAR CURSOS
                        </button>
                    </form> 
            </div>
        </div>
    </div>
    
</div>