<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SISTEMA ACADÉMICO</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body >

    <header>
        <%- include('../views/partials/header'); %>
    </header>
 
   <div class="container py-5">
    <h1 class="text-center mb-4">SISTEMA ACADÉMICO</h1>

    <div class="row g-4 ">
      <!-- Tarjeta 1 -->
      <div class="col-md-4">
        <div class="card shadow-lg h-100">
         
          <div class="card-body bg-info text-white ">
            <h5 class="card-title">DOCENTES</h5>
            <p class="card-text">- Listado Docente.</p>
            <p class="card-text">- Buscar Docente x Apellidos.</p>
            <p class="card-text">- Altas Docente.</p>
            <p class="card-text">- Actualizar Docentes.</p>
            <p class="card-text">- Baja Docente.</p>
            <p class="card-text">- Docente x Profesor, materias, cursos y horarios.</p>
          </div>
          <div class="card-footer text-center">
            <a href="/profesores" class="btn btn-primary">LISTADO DOCENTES</a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div class="col-md-4">
        <div class="card shadow-lg h-100">
         
          <div class="card-body  bg-info text-white">
            <h5 class="card-title">Materias</h5>
            <p class="card-text">- Listado de Materias.</p>
            <p class="card-text">- Buscar Materias.</p>
            <p class="card-text">- Altas Materia.</p>
            <p class="card-text">- Actualizar Materias.</p>
            <p class="card-text">- Borrar Materias.</p>
          </div>
          <div class="card-footer text-center">
            <a href="/materias" class="btn btn-primary">LISTADO DE MATERIAS</a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div class="col-md-4">
        <div class="card shadow-lg h-100">
          
          <div class="card-body bg-info text-white">
            <h5 class="card-title">ASIGNACIONES</h5>
            <p class="card-text">- Profesor por Materias</p>
            <p class="card-text">- Profesor por Cursos</p>
            <p class="card-text">- Profesor por Horarios</p>
            <p class="card-text">- Profesores Suplentes</p>
   
          </div>
          <div class="card-footer text-center">
            <a href="/asignaciones" class="btn btn-primary">ASIGNACIONES</a>
          </div>
        </div>
      </div>
    </div>
  </div>

 

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>