<h2>Nueva Materia</h2>
<form action="/materias/nuevo" method="POST">
  <label>Nombre:</label>
  <input type="text" name="nombre" required><br>
  <label>Descripción:</label>
  <textarea name="descripcion"></textarea><br>
  <button type="submit">Guardar</button>
</form>
<a href="/">Volver</a>
