<h2>Nuevo Curso</h2>
<form action="/cursos/nuevo" method="POST">
  <label>Nombre:</label>
  <input type="text" name="nombre" required><br>
  <label>Nivel:</label>
  <input type="text" name="nivel"><br>
  <button type="submit">Guardar</button>
</form>
<a href="/">Volver</a>
